@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  
}

::-webkit-scrollbar{width:5px;}
::-webkit-scrollbar-track{background:white;}
::-webkit-scrollbar-thumb{background:#777777;}

/* No se puede seleccionar ni arrastrar la imagen*/
.imagen {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.card-item{
  padding-top: 5px;
  text-indent: 20px;
  border-radius: 35px 0px 35px 0px;
-moz-border-radius: 35px 0px 35px 0px;
-webkit-border-radius: 35px 0px 35px 0px;
border: 1px solid #39F8B0

}

.contend{
  padding: 20px;
}

.spin{
  color: #39F8B0;
}

.menu.inzquierdo{
  position: relative;
  margin-bottom: 20px;
  height: 80vh !important;
}

.contendor-map{
  position: relative;
  margin-top: 70px !important;
  margin-right: 15px;
  margin-left: 15px;
  height: 80vh;
   
}

.label{
  border-radius: 15px;
  border: 1px solid #39F8B0;
  background-color: #39F8B0;
  color: white;
  font-weight: bold;
}

.border-green{
  border-radius: 100%;
  width: 120px;
  height: 120px;
}

.a{
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  text-decoration: none;
  color: #777777;
}

.a:hover{
    border-radius: 25px;
    color: #777777;
    background-color: #F6F6F6;
}

.img-perfil{
  border-radius: 100%;
  width: 100px;
  height: 100px;
}


.map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.distance-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.distance-container > * {
  display: block;
  padding: 10px;
  background-color: white; 
  color: #777777;
  width: 100%;
  font-size: 1rem;
  font-weight: bold;
}

.footer{
  border-top: 1px solid #CCCCCC;
}


.link{
  padding: 4px;
}

.link:hover{
  border-radius: 25px;
  background-color: #F6F6F6;
}
